.footer-dark {
  padding:0px 0;
  color:#f0f9ff;
  background-color:#282d32;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  margin-top: auto;
}

#friendForm {
  width:30%;
  align:center;
  margin:auto;
  margin-bottom:30px;
}

.text-center {
  text-align:center;
  margin:auto;
}

.container {
  padding-right:40px;
  padding-left:40px;
  margin-right:auto;
  margin-left:auto;
}

#resultsTotal {
  font-style: italic;
}

.searchForm {
  margin-bottom: 40px;
}
.table-resposive {
  margin-bottom: 40px;
  padding-bottom: 40px;
}
